{% include 'header.html' %}

<main role="main">

    <div class="container">
        <h1 class="text-center mb-5">About Us: Project Dareecha</h1>
        <p>Project Dareecha is a technology-focused initiative launched by KIET, one of the leading universities in Pakistan. Our mission is to develop innovative solutions that address real-world challenges and create a positive impact on society.</p>

        <p>At the heart of Project Dareecha is a talented team of students, faculty, and professionals who are passionate about technology and its potential to make a difference. We are dedicated to fostering a culture of creativity, collaboration, and continuous learning, where everyone has the opportunity to bring their ideas to life.
        Our first successful app, Baham, is a testament to our commitment to excellence. Baham is a web application that provides users with a unique platform for ride hailing. It allows users to share their vehicles when commuting to/from the university. Baham has the potential to mitigate travelling cost as well as reducing carbon emissions in the city.</p>

        <p>We believe that technology has the power to connect people, inspire change, and create a better world. We are committed to exploring new and innovative ways to harness the power of technology to address some of the biggest challenges facing society today. Whether it's developing new apps and tools, or collaborating with partners in industry, government, and the non-profit sector, our goal is to make a positive difference.</p>

        <p>We are proud to be part of this team, a vibrant and dynamic community of scholars, students, and leaders who are shaping the future of Pakistan and beyond. With its strong emphasis on interdisciplinary collaboration, cutting-edge research, and global engagement, KIET provides an ideal environment for Project Dareecha to thrive.</p>

        <p>If you share our passion for technology and its potential to make a difference, we invite you to join us on this exciting journey. Whether you're a student, researcher, entrepreneur, or simply someone who cares about making a positive impact, we welcome you to get involved and help us make a difference.</p>
        <p class="text-center font-weight-bold">Together, let's dare to dream, dare to innovate, and dare to change the world.</p>
    </div>

</main>

{% include 'footer.html' %}
