{% include 'header.html' %}

<form action="save/" method="post">
{% csrf_token %}
    <div class="container col-auto w-50">
        <span class="text-justify"><h2>Create a new Vehicle model</h2></span>
        <div class="row m-4"><label class="label">Manufacturer</label><input name="vendor" class="form-control" type="text" maxlength="50" placeholder="E.g. Lamborghini" required></div>
        <div class="row m-4"><label>Model</label><input name="model" class="form-control" type="text" maxlength="50" placeholder="E.g. Aventador" required></div>
        <div class="row m-4"><label>Type</label>
          <select name="type" class="form-control">
              <option value="">Select one ...</option>
              {% for value, label in vehicle_types %}
              <option value={{value}}>{{label}}</option>
              {% endfor %}
          </select>
        </div>
        <div class="row m-4"><label>Sitting Capacity</label><input name="capacity" class="form-control" type="number" maxlength="2" min="1" max="60" step="1" value="2" required></div>
        <button type="submit" class="btn btn-primary m-4">Save</button>
        <button type="button" class="btn btn-warning m-4" onclick="clearForm();">Clear</button>
    </div> <!-- /container -->
</form>

<br>
{% include 'footer.html' %}
