{% include 'header.html' %}

<!-- This goes into home.html -->
<main>
    <!-- Heading, Slogan -->
    <div class="jumbotron">
        <h3>Welcome to Baham! <small class="text-muted">Helping you reduce your carbon footprint...</small></h3>
        <p>Baham is a web application created under project Dareecha in order to facilitate the students, staff, and faculty members of KIET.
            This app was written using HTML5, Bootstrap, jQuery and Django framework. It can be FYP, should a group be interested.
            <a class="btn-secondary btn-sm" href="aboutus.html">Learn more >>></a>
        </p>
    </div>

    <div class="container">
        <div class="d-flex row">
            <!-- Owner Ads -->
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="https://th.bing.com/th/id/R.7a7c980030974891821dcf06abcdfab6?rik=nVgXOO5ebnON7g&pid=ImgRaw&r=0">
                    <div class="card-body">
                      <h5 class="card-title">Owais is looking for companions</h5>
                      <p class="card-text">Humble owner of this Lamborghini Aventador is looking for a fellow living in Bahria Town. The usual Monday-Friday. I leave around 7:30am and head back at 3:45pm.</p>
                      <a href="#" class="btn btn-info">Connect</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top img-thumbnail" >
                    <div class="card-body">
                      <h5 class="card-title">Hamza is looking for companions</h5>
                      <p class="card-text">You can't miss that junk in blue parked daily right next to dean's car (don't tell me you need a picture). Well, I'm the owner and wanna test its limits. 3 companions needed from Gulshan-e-Iqbal, F.B. Area, or Sakhi Hassan roundabout. Meet me under the car shade adjacent to Transport office at 3:40 any day. Or press that connect button.</p>
                      <a href="#" class="btn btn-info">Connect</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Honda_cd_70.jpg/200px-Honda_cd_70.jpg">
                    <div class="card-body">
                      <h5 class="card-title">Jahanzaib is looking for companions</h5>
                      <p class="card-text">Sirf wo bhai contact karain jinko bike pe baithne ki tameez ho. Main admin staff main hoon aur daily Pakistan chowk se ata hoon.</p>
                      <a href="#" class="btn btn-info">Connect</a>
                    </div>
                </div>
            </div>

            <!-- Companion Ads -->
            <div class="col-md-6">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="https://th.bing.com/th/id/R.db075d92d8046308d7fc00724cd8eca2?rik=hSbXLkAi8CABgg&pid=ImgRaw&r=0">
                    <div class="card-body">
                      <h5 class="card-title">Shujaat is looking for a ride</h5>
                      <p class="card-text">Want someone to help you reduce your carbon footprint? Connect with me. It's kinda urgent!</p>
                      <a href="#" class="btn btn-warning">Connect</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top img-thumbnail" src="https://www.dropbox.com/s/n6tmptlkzcxf661/brooks-to-kiet-map.png">
                    <div class="card-body">
                      <h5 class="card-title">Zainab is looking for a ride</h5>
                      <p class="card-text">I come on Tuesday and Friday for lectures only. If any owner passes through Brook's chowrangi, Korangi then contact me. (Right click and open the image icon in new tab for map)</p>
                      <a href="#" class="btn btn-warning">Connect</a>
                    </div>
                </div>

                <div style="background-color: white;">
                    <button style="background-color: forestgreen;">First</button>
                    <button style="background-color: skyblue;">Second</button>
                    <button style="background-color: goldenrod;">Third</button>
                    <button style="background-color: lavender;">Fourth</button>
                    <button style="background-color: coral;">Coral</button>
                </div>

            </div>

        </div>
    </div>

</main>

{% include 'footer.html' %}
